/.build/
/_build/
/Build
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

AWS-CLIWrapper-*

Makefile
Makefile.old
inc/*
MANIFEST
MANIFEST.bak
META.yml
pm_to_blib

junk/*
private/*
.shipit*
TODO.todo
MEMO
xt/9*_*
